body {
  font-family: "Montserrat";
  text-align: center;
  font-size:100%;
}

#header {
  color: white;
  background-color: white;
}

h1, h2, h3, h4 {
  font-family: "Montserrat";
  font-weight: bold;
}

h3 {
  font-weight: bold;
}

a, a:hover {
  color: #fff;
  text-decoration: none;
}

.container-fluid {
  padding: 3% 15% 7%;
}

.btn {
  padding: .375rem .75rem;
}

.btn-light {
  border: 1px solid #000;
}


#header h1 {
  font: 4em/1.2 "Montserrat";
  font-weight: bold;
  padding-bottom: 1rem;
}


#header .container {
  width: 100%;
  max-width: none;
  padding:3% 0 0;
}

#header a:hover {color:#000;}


/* navigation bar */

.navbar-dark {
  background-color: #343a40 !important
}

.btn-light:hover {
  border: 1px solid #000;
  color:#000;
}

/* title image */
#header .center-pos {
  width: 100%;
  margin: auto 0;
  position: absolute;
}

.navbar {
  padding: 0;
}

.navbar-brand {
  font: 1.5rem/1 "Ubuntu";
  padding:0;
  margin-left:3%;
  text-align:left;
}

.navbar-brand img {width:50%; }

.nav-item {
  padding: 1rem;
}

.nav-link {
  font: 1rem "Montserrat";
}

/* header image section */

#header .bg-image-full {
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
      margin-left: -4px;
}

#header p {margin:0 10%;}

#header .text-box {
  position: relative;
  padding:8rem 15%;
}

/* Download Buttons */
#header .btn-1 {
  margin: 3% 0;
}




/* Download Buttons */
.btn-1 {
  margin: 3% 0;
}

/* title image */
.center-pos {
  width: 100%;
  margin: auto 0;
  position: absolute;
}

/* features
#features {
  padding: 3% 5%;
  background-color: #fff;
  position: relative;
}

#features p {
  color: #008B8B;
}

#features h3 {
  padding: 3%;
  font: 1.5rem/1.2 "Montserrat";
  font-weight: bold;
}

.feature-box {
  padding: 5%;
}

#features .icon {
  color: #008B8B;
}


/* testimonial section */
#testimonials {
  background-color: #008B8B;
  color: #fff;
}

#testimonials h2 {
  font: 2.2rem/1.2 "Montserrat";
  font-weight: bold;
}


.testimonial-img {
  width: 10%;
  border-radius: 100%;
}



.carousel-control-next-icon, .carousel-control-prev-icon { width:40px; height:40px;}

/* press section */
#press {
  background-color: #008B8B;
  padding-bottom: 3%;
}

.press-logo {
  margin: 20px 20px;
  width: 10%;
}

.carousel-item {
  padding: 3% 15%;
}

/* pricing */
#stories {
  padding: 100px;
}

#stories .mb-auto{ margin-bottom:4% !important; font-size:0.85rem;}

#stories .mb-0 {font-size:1.5rem;}

#cta {
  background-color: #fff;
}

#cta h3 {
  color: #fff;
  padding: 3% 0 0;
  font-size: 3rem;
}

#cta .container-fluid {
  padding: 3% 15%;
}

.videos-container {padding:0% 20%;}

.btn-2 {
  margin: 1% 2% 2% 0;
}

.btn-3 {width:auto; margin: 0 auto;}

.modal.fade .modal-dialog {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  -moz-transition: -moz-transform 0.3s ease-out;
  -o-transition: -o-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.modal.in .modal-dialog {}
@media (max-width:1200px) {body {font-size:80%;} }
@media (max-width:1000px) {

  #header {
    text-align: center;
    font-size:100%;
  }

  .navbar {
    padding: 20px; z-index:1;
  }

  .nav-link {text-align:left; border-bottom:1px solid #000;}

  .navbar-brand {text-align:right; }

  #header .container-fluid {
    padding-top: 15%;
  }

  .center-pos {
    margin: 0;
    position: static;
  }

}
 #stories .p-4 {padding:30px; justify-content:center;}
@media (max-width:1200px) {#stories .p-4{ justify-content:flex-start;} }
@media (max-width:1024px) {
  #stories .mb-auto {font-size:0.7rem; margin-bottom:6%!important;}
  #stories h3.mb-0 {font-size:1.2rem;}
  #stories .p-4 {padding:24px;}
}

@media (max-width:768px) {

  .navbar-toggler {
    position:relative; z-index:1;
  }
  .navbar-brand {margin:0 auto;padding:0; position:absolute; top:20px; right:30px; z-index:0; }
#header .text-box {font-size:70%; top:0;}
#header h1 {padding-bottom:0;}

}
@media (max-width:767px) {
  #header .text-box {font-size:110%; top:25%; } }

@media (max-width:414px) {
  #header .text-box {font-size:80%; top:0;}
  #header p {margin:0;padding-bottom:1rem;}
  .navbar-brand img {width:66%;}
}

/* gallery page */

#gallery {}

#gallery


.container.photos {margin-top:5%;}

#footer a {
  color: #ccc;
  padding: 2%;
}

#footer a:hover {
  color: #000;
}

.foot-icons {
  display: inline;
  padding-bottom: 2%;
}

#footer p {
  margin-top: 2%;
}
